@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    margin: center;
    padding: 0;
    border: 0;
}

body
{
    font-family: Roboto , sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-transform: uppercase;
}   



h1, h2{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: center;
    font-size: 100%;
    margin: 30px;
}


#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    
}

#menu a {
    text-decoration: none;
    color: #ff0000;
}

#menu a:hover {
    border-bottom: 1px solid #ff0000;
}

.class{
    height: 600px;
    width: 100px;
    background-image: url('../images/male\ begger.webp') no-repeat center center;
}
















footer {
    height: 150px;
}


.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ff0000;
}