@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

/* homepage*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}



h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

#logo {
    float: left;
    font-size: 100%;
    margin-left: 20px;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
    color: black;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}



#photo-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#video {
    text-align: left;
    margin: 10px;
    padding: auto;
   
}


#photo-image {
    height: 600px;
    width: 100%;
    background: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: photo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes photo-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#welcome {
    text-align: center;
    font-size: 50px;
    padding: 2px;


}


#page-ethos {
    background: black;
    
}

#goal {
    text-align: center;
    font-size: 20px;
    color: orange;
}

#info {
    text-align: center;
    font-size: 20px;
    color: orange;
}


#contact {
    text-align: center;
    font-size: 20px;
    color: orange;
    
}


/* information page*/


#info-sec {
     background: black;
}


#info-sec h2 {
    text-align: center;
    font-size: 30px;
    color: orange;
   
}

#info-sec h3 {
    font-size: 30px;
}
 
#info-sec p {
    color: white;
}


#merchants {
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: orange;
}

#focus {
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: orange;
}

#dublin {
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: orange;
}

#saoirse {
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: orange;
}

#capuchin {
    text-align: center;
    font-size: 17px;
    margin: 10px;
    color: orange;
}

#liquid-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


#liquid-image {
    height: 600px;
    width: 100%;
    background: url('../images/friends.jpg') no-repeat center center;

}


@keyframes photo-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*footer section */

footer {
    height: 150px;
    background-color: black;
}

/*socials*/

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #0000ff;
}


@media screen and (max-width: 1200px) {
    #page-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
}


.form-section {
        background: url('../images/tunnel.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 1000px;
}
    
  
form h2 {
        font-size: 22px;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        margin: 20px;
        color: red;
        padding: 1%;
}

 .sign-list li {
    line-height: 75px;
    color: red;

}


label {
        display: block;
        margin-top: 28px;
        font-size: 16px;
        font-weight: 500;
        color: red;
    
}

 input {
        display: block;
        height: 20px;
        width: 18%;
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 2px;
        font-size: 18px; 
        font-weight: 300;
        margin: 50px;
        color: red;
}


