@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding:0;
    border:0;
}

body
{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
  
}   



h1, h2{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float: center;
    font-size: 100%;
    margin-left: 10px;
}


#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: center;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ff0000;
}

section {
    background-image: url(https://www.irishcentral.com/uploads/article/125392/cropped_Homeless_dublin_rollingnews.jpg?t=1523553064);
    height: 600px;
    width: 600%;
    position: no-repeat;
}












footer {
    height: 150px;
}


.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ff0000;
}